body{
    background-image: url(http://previews.123rf.com/images/kytalpa/kytalpa1301/kytalpa130100018/17527465-Patr-n-de-fondo-sin-fisuras-ilustraci-n-de-dibujos-f-sica-estilo-de-garabato-Foto-de-archivo.jpg);
    font-weight: bold;
    text-align: center;
    font-family: "Century Gothic"
}
.titulo{
    background: whitesmoke;
    text-align: center;
    border: outset;
}
.titulo3{
    background: whitesmoke;
    text-align: center;
    border: outset;
}
#Hacercalculo{
    background-color: white;
    padding: 15px 25px;
    font-size: 14px;
    color: black;
    border: 2px solid darkgreen;
}
#Hacercalculo:hover{
    background-color: darkgreen;
    font-family: helvetica;
    color: white;
    padding: 18px 28px;
    text-aling: center;
    display: inline-block;
    font-size: 15px;
    border: none;
    background-color: darkgreen;
    color: white;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}